server:
  port: 8080

spring:
  application:
    name: product-catalog

  datasource:
    url: jdbc:postgresql://localhost:5433/catalog
    username: catalog
    password: catalog
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: none # for local dev only; prefer migrations later
    properties:
      hibernate:
        format_sql: true
    open-in-view: false

  sql:
    init:
      mode: always

  data:
    redis:
      host: localhost
      port: 6379
      timeout: 2s

  cache:
    type: redis
    redis:
      time-to-live: 5m # default TTL (you can override per-cache in config class)
      cache-null-values: false

logging:
  level:
    org.hibernate.SQL: debug
    org.hibernate.orm.jdbc.bind: trace
    com.zaxxer.hikari: DEBUG
    org.springframework.boot.context.config: DEBUG
